html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.header-plug {
  height: 55px;
}

.burger__menu {
  background-color: rgb(253, 252, 252);
  position: fixed;
  top: 90px;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  display: none;
  flex-direction: column;
}

.burger {
  height: 20px;
  display: none;
}

.burger__menu-title {
  font-size: 68px;
  color: black;
  font-weight: 300;
  margin-top: 12px;
}

.burger__cross {
  display: none;
  width: 50px;
  height: 50px;
}

.visible {
  display: block;
}

.invisible {
  display: none !important;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 20;
}

.header__link:hover {
  text-decoration: underline;
}

.header-wrap {
  display: flex;
  align-items: center;
  background-color: white;
}

.header__link {
  padding-right: 20px;
  color: black;
  line-height: 100%;
}

.header__operating-mode {
  flex-direction: column;
  margin-left: auto;
}

.header__phone {
  padding-right: 25px;
  font-size: 13px;
  line-height: 100%;
  color: black;
}

.header__time {
  padding-top: 3px;
  padding-left: 30px;
}

.header__reserv {
  padding: 15px 33px;
  line-height: 100%;
  color: white;
  background-color: black;
  font-size: 14px;
}

.header__logo {
  height: 50px;
  display: none;
}

.hero {
  padding-top: 100px;
}

.hero__title {
  font-size: 60px;
  line-height: 70.2px;
  padding-bottom: 15px;
}

.hero__sub-title {
  font-size: 16px;
  line-height: 24.8px;
  font-weight: 300;
}

.presentation__video {
  width: 100%;
  max-height: 611px;
}

.advantages {
}

.advantages__wrap {
  display: flex;
  background-color: black;
}

.advantages__item-trait {
  padding: 40px 20px 60px;
  flex-basis: 33.3%;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.advantages__item {
  padding: 40px 20px 60px;
  flex-basis: 33.3%;
}

.advantages__title {
  font-weight: 400;
  font-size: 24px;
  line-height: 32.4px;
  color: #ffffff;
  padding-bottom: 25px;
}

.advantages__text {
  color: #ffffff;
  font-weight: 300;
  font-size: 16px;
  line-height: 24.8px;
}

.advantages__sub-title {
  font-weight: 300;
  font-size: 16px;
  line-height: 24.8px;
  color: #b9b8b8;
}

.advantages__button {
  width: 100%;
  margin-top: 20px;
  height: 55px;
  background-color: black;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0%;
  color: #ffffff;
}


.section__title {
  font-weight: 400;
  font-size: 28px;
  line-height: 32.76px;
  padding-top: 50px;
}

.section__sub-title {
  font-weight: 300;
  font-size: 16px;
  line-height: 24.8px;
  padding: 12px 0 40px;
}

.slider {
}

.slider__title {
  font-weight: 500;
  font-size: 40px;
  line-height: 54px;
}

.slider__price {
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  margin: 30px 0;
}

.slider__sub-title {
  font-weight: 300;
  font-size: 14px;
  line-height: 21.7px;
  margin-bottom: 30px;
}

.slider__reserv {
  text-align: center;
  padding: 15px 138px;
  color: white;
  background-color: black;
}

.slider__wrap {
  display: flex;
  padding-top: 50px;
}

.slider__info {
  flex-basis: 35%;
  padding-right: 20px;
}

.slider__categories {
  display: flex;
}

.slider__button {
  width: 33.3%;
  text-align: left;
  background-color: white;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
}

.slider-card {
  flex-direction: column;
}

.slider-card__title {
  padding-top: 50px;
  font-weight: 500;
  font-size: 40px;
  line-height: 54px;
}

.slider-card__price {
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
  padding-top: 20px;
}

.slider-card__sub-title {
  font-weight: 300;
  font-size: 14px;
  line-height: 21.7px;
  padding: 20px 0 35px;
}

.slider-card__reserv {
  width: 375px;
  height: 45px;
  color: white;
  background-color: black;
}

.slider__slide-wrap {
  flex-basis: 65%;
  display: flex;
  flex-direction: column;
}

.slider__slide {
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
}

.slider__img {
  max-width: 100%;
  height: 760px;
  object-fit: cover;
}

.slider__control {
  display: flex;
  gap: 7px;
}

.slider__control-img-wrap {
  flex-basis: 16.6%;
}

.slider__control-img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 20px;
}

.photo-gallery__img-wrap {
  flex-basis: calc(25% - 20px);
}

.photo-gallery__img {
  width: 100%;
}

.about {
}

.about__text {
}

.about__title {
  font-weight: 400;
  font-size: 28px;
  line-height: 32.76px;
}

.about__subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 24.8px;
}

.about__card {
  display: flex;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  padding-left: 20px;
}

.about__card-wrap {
  max-width: 100%;
  height: 100%;
  flex-basis: 33.3%;
}

.about__card-link {
  color: white;
  font-weight: 400;
  font-size: 20px;
  padding-top: 15px 0 10px;
}

.about__card-link-bottom {
  color: white;
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 10px;
}

.about__card-link-wrap {
  padding: 15px 0 10px;
}

.about__card-link-down {
  padding: 20px 0 21px;
}

.about__card-link-bottom-wrap {
  padding: 40px 0 22px;
}

.about__img {
  max-width: 100%;
  object-fit: cover;
}
.about__card-title {
  background-color: black;
  /* padding-left: 10px; */
}

.about__card-title-h2 {
  font-size: 14px;
  line-height: 1.55;
  font-weight: 300;
  color: white;
}

.tabs {
}

.tabs__text {
  display: flex;
}

.tabs__title {
  margin-top: 40px;
  font-weight: 400;
  font-size: 24px;
  line-height: 32.4px;
}

.tabs__plus {
  margin-left: auto;
  font-weight: 400;
  font-size: 28px;
  line-height: 32.76px;
  color: gray;
  padding-top: 30px;
}

.tabs__img {
  width: 100%;
}

.tabs__card {
  display: flex;
  gap: 20px;
}

.tabs__wrap {
  flex-basis: 33.3%;
}

.tabs__item-title {
}

.tabs__item-sub-title {
}

.tabs__item {
  background-color: black;
}

.contacts {
  padding-top: 50px;
}

.contacts__cards {
  padding-top: 50px;
  padding-bottom: 50px;
}

.contacts__cards-img {
  width: 100%;
  height: 100%;
}

.contacts__title {
  font-weight: 400;
  font-size: 28px;
  line-height: 32.76px;
}

.contacts__address {
  font-weight: 300;
  font-size: 16px;
  line-height: 24.8px;
}

.contacts__schedule {
  font-weight: 300;
  font-size: 16px;
  line-height: 24.8px;
}

.contacts__number {
  font-weight: 400;
  font-size: 20px;
  line-height: 31px;
  padding-top: 17px;
}

.footer {
  background-color: #1f1f1f;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.footer__logo {
}

.footer__img {
  width: 100px;
  height: 100px;
}

.initials {
  font-weight: 300;
  font-size: 12px;
  line-height: 18.6px;
  color: #525252;
  margin-top: 16px;
}

.footer__item {
  display: flex;
  flex-direction: column;
}

.footer__naming {
  font-weight: 400;
  font-size: 16px;
  line-height: 21.6px;
  letter-spacing: 1px;
  color: #525252;
}

.footer__link {
  font-weight: 300;
  font-size: 14px;
  line-height: 21.7px;
  color: white;
  margin-top: 16px;
}

.footer__time {
  font-weight: 300;
  font-size: 14px;
  line-height: 21.7px;
  color: white;
  margin-top: 16px;
}

.footer__address {
  font-weight: 300;
  font-size: 14px;
  line-height: 21.7px;
  color: white;
  margin-top: 22px;
}

.footer__wrap-list {
  display: none;
}
