body {
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.header {
  display: flex;
  align-items: center;
}

.header__link {
  padding-right: 20px;
  color: black;
  line-height: 100%;
}

.header__phone {
  margin-left: auto;
  padding-right: 25px;
  font-size: 13px;
  line-height: 100%;
}

.header__reserv {
  padding: 15px 65px;
  line-height: 100%;
  color: white;
  background-color: black;
  font-size: 14px;
}

.firm {

}


.firm__name {
  font-size: 60px;
  line-height: 70.2px;
  padding-bottom: 15px;
}


.firm__slogan {
  font-size: 16px;
  line-height: 24.8px;
  font-weight: 300;
}

.presentation {

}


.description {
 
}

.description__wrap {
  background-color: black;
  display: flex;
}


.description__advantages {
  padding: 40px 0 60px;
  margin: 0 auto;
  color: white;
}


.description__resources {
  padding-bottom: 20px;
  line-height: 32.4px;
  font-size: 24px;
}


.description__characteristics {
  line-height: 24.8px;
}


.description__facilities {
  line-height: 24.8px;
}

.description__bottom {
  padding-top: 30px;
  text-align: center;
}

.description__button__reserv {
  height: 50px;
  width: 100%;
  line-height: 27px;
  font-size: 18px;
  background-color: black;
  color: white;
}

.menu {

}


.menu__hall {
   font-size: 28px;
   line-height: 32.76px;
}


.menu__hall__text {
  font-size: 16px;
  line-height: 24.8px;
  font-weight: 300;
}


.menu__colors {
  display: flex;
  padding-top: 30px;
}


.menu__colors__shade {
  font-size: 20px;
  line-height: 27px;
  font-weight: 500;
   border-bottom: 1px solid black;
   width: 33%;
}


.menu__colors__tone {
  border-bottom: 1px solid rgb(221, 218, 218);
  width: 33%;
  color: rgb(75, 75, 75);
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
}

.menu__hygge-card {
  display: flex;
  margin-top: 40px;
}


.menu__hygge-card__wrap {
   
}


.menu__hygge-card__title {
   font-weight: 500;
   font-size: 40px;
   line-height: 54px;
   
}


.menu__hygge-card__price {
  font-weight: 400;
   font-size: 18px;
   line-height: 24.3px;
   padding-top: 15px;
}


.menu__hygge-card__subtitle {
   font-weight: 300;
   font-size: 14px;
   line-height: 21.7px;
   padding-top: 10px;
}

.menu__hygge-card__bottom {
   
}


.menu__hygge-card__button {
  font-weight: 400;
   font-size: 14px;
   line-height: 100%;
   padding: 17px 130px;
   margin-top: 25px;
   color: white;
   background-color: black;
}


.menu__presentation-card {
   
}


.menu__presentation-card__wrap {
  padding-left: 50px;
  
  
}


.menu__presentation-card__img {
   max-width: 100%;
}

.menu__presentation-card__list {

}


.menu__presentation-card__media {
   flex-basis: calc(16.6% - 15px);
   flex-grow: 0;
}

.menu__presentation-card__media:not(:nth-child(6n)) {
  margin-right: 7px;
} 




.menu__presentation-card__photo {
  width: 100%;
  height: auto;
}

.info__text {

}


.info__text__title {
  font-weight: 400;
  font-size: 28px;
  line-height: 32.76px;  
}


.info__text__subtitle {
font-weight: 300;
font-size: 16px;
line-height: 24.8px;
padding-top: 15px;
}


.conditions {
}


.conditions__text {
   display: flex;
}


.conditions__text__title {
  font-weight: 400;
  font-size: 28px;
  line-height: 32.76px;  
  padding-top: 30px;
}

.plus {
  margin-left: auto;
  font-weight: 400;
  font-size: 28px;
  line-height: 32.76px;  
  color: gray;
  padding-top: 30px;
}

.contacts {
  padding-top: 50px;
}

.contacts__title {
 font-weight: 400;
 font-size: 28px;
 line-height: 32.76px;
}


.contacts__address {
 font-weight: 300;
 font-size: 16px;
 line-height: 24.8px;
}


.contacts__schedule {
 font-weight: 300;
 font-size: 16px;
 line-height: 24.8px;
}


.contacts__number {
 font-weight: 400;
 font-size: 20px;
 line-height: 31px;
 padding-top: 17px;
}

.footer {
   background-color: #1F1F1F;
   ; 
}


.footer__wrap {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}


.footer__logo {

}


.footer__logo__img {
   max-width: 100px;
   max-height: 100px;
}


.initials {
font-weight: 300;
font-size: 12px;
line-height: 18.6px;
color: #525252;
padding-top: 16px;
}


.footer__item {
  
}


.footer__item__naming {
  color: #525252;
font-weight: 400;
font-size: 16px;
line-height: 21.6px;
letter-spacing: 1px;
text-transform: uppercase;
}


.footer__item__content {
font-weight: 300;
font-size: 14px;
line-height: 21.7px;
color: #FFFFFF;
padding-top: 15px;
}


.footer__item__confession {
 font-weight: 300;
 font-style: italic;
 font-size: 14px;
 line-height: 21.7px;
 color: #525252;
 padding-top: 10px;
}

.footer__item__address {
 font-weight: 300;
 font-size: 14px;
 line-height: 21.7px;
 color: #FFFFFF;
 padding-top: 20px;

}
