@media (max-width: 768px) {
 .header{
  justify-content: space-between;
 }

  .header__link {
    display: none;
  }

  .header__operating-mode {
    display: none;
  }

  .header__phone {
    display: none;
  }

  .header__time {
    display: none;
  }

  .header__reserv {
    display: none;
  }

  .header__logo {
    display: block;
  }

  .burger {
    display: block;
  }

  .hero__title {
    font-size: 26px;
  }

  .hero__sub-title {
    font-size: 14px;
  }

  .advantages__wrap {
    display: flex;
    flex-direction: column;
  }

  .advantages__item {
  }

  .slider__title {
    font-size: 22px;
  }

  .slider__reserv {
    width: 100%;
  }

  .slider__wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .slider__slide-wrap {
    margin-top: 30px;
  }

  .footer__logo {
    display: none;
  }

  .footer__item {
    display: none;
  }

  .footer__item-list {
   display: flex;
   justify-content: center;
   flex-wrap: wrap; 
  }

  .footer__link {
    padding-left: 9px;
    font-weight: 600;
    /* white-space: nowrap; */
  }

  .footer__wrap-list {
    flex-direction: column;
    display: block;
  }

  .footer__item-list-lover{
    align-items: center;
  }

  .footer__item-list-lover {
    display: flex;
    justify-content: center;
  }

  .footer__link-lover {
    font-weight: 600;
    color: white;
    padding-top: 9px;
  }

  .initials__lover {
    display: flex;
    justify-content: center;
  }

  .footer__bottom {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }


.footer__button-up {
   font-weight: 600;
   color: white;
   background-color: #1F1F1F;
  }
}
